@charset "utf-8";
/* CSS login css style */
header{
	width: 1100px;
	height: 113px;
	display: block;
	margin: 0px auto;
	padding: 40px 2% 30px;
	box-sizing: border-box;
}
header a{
	width: 200px;
	height: 31px;
	padding: 5px;
	color: #000000;
	text-transform: uppercase;
	position: relative;
	text-align: center;
	vertical-align: top;
	display: inline-block;
	box-sizing: border-box;
	background-color: var(--blanco);
}
header a:hover{
	background-color: var(--colore);
	color: var(--blanco);
}
header form{
	width: auto;
	height: 31px;
	position: relative;
	text-align: center;
	vertical-align: top;
	display: inline-table;
	float: right;
}
form.login input[type="text"],form.login input[type="password"]{
	width: 240px;
	height: 30px;
	border: none;
	padding: 5px 10px;
	margin: 0px 5px;
	border-radius: 4px;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
form.login input[type="text"]::placeholder,form.login input[type="password"]::placeholder,.input-camp input::placeholder,#form > input[type="text"]::placeholder{
	font-weight: 100;
	color: rgba(136,136,136,1.00);
}
form.login input[type="submit"]{
	width: 148px;
	height: 30px;
	border: none;
	border-radius: 4px;
	color: var(--blanco);
	background-color: var(--colore);
	font-weight: 600;
	cursor: pointer;
	margin: 0px 5px;
}
form.login input[type="submit"]:hover{
	background-color: var(--colore_h);
}
.container{
	width: 1100px;
	height: 600px;
	display: block;
	margin: 0px auto;
	padding: 40px 2% 60px;
	box-sizing: border-box;
	font-size: 0px;
}
.container > .columna{
	width: 50%;
	height: 100%;
	display: inline-block;
	position: relative;
	vertical-align: top;
	padding: 2% 2% 3%;
	box-sizing: border-box;
}
.columna > article{
	width: 100%;
	height: auto;
	padding: 2%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	box-sizing: border-box;
	position: relative;
}
.columna > article h2{
	font-size: large;
	color: #727272;
	margin: 0px 0px 20px;
}
.columna > article p{
	font-size: xx-large;
	color: var(--blanco);
	line-height: 1.5;
}
.columna > article p span{
	color: #754991;
	font-weight: 600;
}
/* registro */
.form_cont{
	width: 380px;
	height: 450px;
	display: block;
	margin: 0px auto;
	border-radius: 15px;
	overflow: hidden;
	background-color: var(--blanco);
}
.form_cont .btn_tab{
	width: 50%;
	height: 50px;
	display: inline-block;
	position: relative;
	vertical-align: top;
	background-color: var(--colore);
	color: var(--blanco);
	font-size: x-large;
	font-weight: 400;
	padding: 10px 5px 10px 15px;
	box-sizing: border-box;
	cursor: pointer;
}
.form_cont .btn_tab:hover{background-color: var(--colore_h)}

.form_cont .active, .active:hover{
	background-color: var(--blanco) !important;
	color: var(--colore) !important;
}
#form{
	width: 100%;
	height: auto;
	padding: 15px 25px;
	box-sizing: border-box;
	transition: all 0.2s;
}
#form p{
	line-height: 1.2;
	margin: 0px 0px 20px;
	font-size: large;
	color: var(--colore);
}
#form p strong{
	color: #999999;
}
.input-camp{
	width: 100%;
	height: 40px;
	display: block;
	margin: 0px auto 5px;
}
.input-camp label{
	width: 40px;
	height: 40px;
	display: inline-block;
	position: relative;
	vertical-align: top;
	background-color: #F8F8F7;
}
.input-camp label img{
	width: 50%;
	height: 50%;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}
.input-camp input, #registro > input[type="text"]{
	width: 86%;
	height: 40px;
	border: none;
	padding: 5px 10px 5px;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	background-color: #F8F8F7;
}
.input-camp input[name="nombre"]::placeholder,.input-camp input[name="apellido"]::placeholder{
	font-weight: 600;
}
#registro > input[type="text"]{
	width: 100% !important;
}
#registro > label{
	font-size: 11px;
	color: rgba(126,126,126,1.00);
}
#registro > label strong{
	color: var(--azul);
}
#registro > input[type="submit"]{
	width: 100%;
	height: 40px;
	margin: 5px auto;
	border-radius: 40px;
	border: none;
	color: var(--blanco);
	background-color: #4A2C84;
}
#registro > input[type="submit"]:hover{
	background-color: #5C3B9B;
	cursor: pointer;
}
/* mi perfil */
.mi_perfil{
	width: 100%;
	height: auto;
	margin: 40px auto;
	padding: 20px;
	box-sizing: border-box;
	display: none;
	transition: all 0.2s;
}
.mi_photo{
	width: 160px;
	height: 160px;
	display: block;
	margin: 0px auto;
	background-color: var(--colore);
	border-radius: 100%;
	padding: 10px;
	overflow: hidden;
}
.mi_photo div{
	width: 100%;
	height: 100%;
	border-radius: 100%;
	overflow: hidden;
}
.mi_photo img{
	width: 110% !important;
	height: auto;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}
.mi_perfil p{
	width: 100%;
	height: auto;
	text-align: center;
	margin: 15px 0px;
	color: rgba(96,96,96,1.00);
	line-height: 1;
	font-size: x-large;
}
.mi_perfil p strong{
	color: var(--colore);
}
@media screen and (max-width:1100px){
header{
	width: 100%;

}
.container{
	width: 100%;
}
}
@media screen and (max-width:950px){
header{
	padding: 20px 2% 15px;
}
header a{
	display: block;
	margin: 0px auto 10px;
}
header form{
	height: auto !important;
	display: block;
	margin: 0px auto;
	float: none;
}
form.login input[type="submit"]{
	display: block;
	margin: 10px auto;
}
}
@media screen and (max-width:880px){
.container > .columna{
	width: 100%;
	height: auto;
	display: block;
}
.columna > article{
	width: 100%;
	height: auto;
	padding: 2%;
	top: auto;
	left: auto;
	transform: none !important;
	-webkit-transform: none !important;
	box-sizing: border-box;
	position: relative;
}
}
@media screen and (max-width:610px){
header{
	height: auto;
}

form.login input[type="text"],form.login input[type="password"]{
	width: 45%;
}

}