@charset "utf-8";
/* Estilos basicos */
@import url("http://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
	margin: 0;
	padding: 0; }

html {
	width: 100%;
	height: 100%;
	position: relative;
	overflow-x: hidden;}

body {
	width: 100%;
	height: 100%;
	font-family: "Poppins", sans-serif;
	font-size: 14px; 
	background-image: url(../image/background.jpg);
	background-position: center;
	background-size: cover;
    background-attachment: fixed}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Poppins", sans-serif;
	line-height: 1.3;
	font-weight: 500; }

p {
	font-family: "Poppins", sans-serif;
	color: #969696;
	font-size: 15px;
	line-height: 2;
	font-weight: 400; }

a,
a:hover,
a:focus {
	-webkit-transition-duration: 500ms;
	-o-transition-duration: 500ms;
	transition-duration: 500ms;
	text-decoration: none;
	outline: 0 solid transparent;
	font-weight: 500;
	font-size: 16px; }

ul,
ol {
	margin: 0; }
  ul li,
  ol li {
	list-style: none; }

img {
	  height: auto;
	  max-width: 100%; }

:root {
	--blanco: #FFFFFF;
	--colore: #61408D;
	--colore_h: #6D5299;
	--azul: #3F92CE;
}
input{
	outline: none ;
}
#screen{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	background-color: rgba(18,18,18,0.80);
}
#screen > div{
	min-width: 200px;
	max-width: auto;
	display: table;
	height: auto;
	padding: 20px;
	position: relative;
	box-sizing: border-box;
	background-color: var(--blanco);
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}
.button{
	width: 110px;
	height: 33px;
	padding: 5px 10px;
	border-radius: 50px;
	display: block;
	margin: 15px auto 0px;
	box-sizing: border-box;
	background-color: var(--colore);
	color: var(--blanco);
	text-align: center;
	cursor: pointer;
}
.button:hover{
	background-color: var(--colore_h);
}